<section
  class="section background-blue"
  fxLayout="column"
  fxLayoutAlign="center"
>
  <h1 class="red center-text p700 section-text-shadow">
    Thanks for joining Codebio!
  </h1>

  <div
    class="center-text-wrapper red"
    *ngIf="authService.userData as user"
    fxLayout="column"
  >
    <h2 class="p700">
      We have sent a confirmation email to <strong>{{ user.email }}</strong
      >.
    </h2>
    <h2 class="p700">
      Please check your email and click on the link to verify your email
      address.
    </h2>
  </div>

  <div class="center-text-wrapper">
    <button
      mat-raised-button
      type="button"
      class="button p700 blue background-red"
      (click)="authService.sendVerificationMail()"
    >
      <i></i>
      Resend Verification Email
    </button>
  </div>
  <h3 class="red p700" fxLayoutAlign="center">
    <a routerLink="/" class="red auth-link"> Home</a>
  </h3>
</section>
