<section class="section background-glow">
  <div class="header" fxLayout="column" fxLayoutAlign="start start">
    <h1 class="dm700 red">
      Bonjour,
      {{ authService.userData ? authService.userData.displayName : 'User' }} !
    </h1>
    <h2 class="dm700 red">
      It's nice to see you here.
    </h2>
    <mat-tab-group
      class="account-tabs"
      fxLayoutAlign="start start"
      fxLayout="column"
      dynamicHeight
    >
      <mat-tab label="Ton Inscription">
        <div
          *ngIf="!user.subscriptionType"
          class="tab-section background-white"
          fxLayoutAlign="center center"
          fxLayout="column"
        >
          <h3 class="dm700 red">
            AUCUN ABONNEMENT ENREGISTRÉ
          </h3>
          <h3 class="dm700 red">
            Vous souhaitez obtenir des livraisons continues de produits de
            beauté d'origine locale? C'est * hyper * pratique.
          </h3>
        </div>
      </mat-tab>
      <mat-tab label="Ton profil">
        <div class="tab-section background-white" fxLayout="row">
          <h3 class="dm700 red" fxLayoutAlign="center center">Tes détails</h3>
          <div class="user-info" fxLayout="column" fxLayoutAlign="center start">
            <p class="dm700 red">{{ user.displayName }}</p>
            <p class="dm700 red">{{ user.email }}</p>
            <p class="dm700 red">********</p>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</section>
