.section {
  padding: 5rem;
  padding-top: 13rem;
}

h1 {
  font-size: 2.75rem;
}

h2 {
  font-size: 1.75rem;
  font-style: italic;
}

h3 {
  padding: 1rem;
}

.header {
  align-self: flex-start;
}

.account-tabs {
  padding-top: 4rem;
}

.tab-section {
  min-height: 10rem;
  padding: 2rem;
  width: 30rem;
}

.user-info {
  padding: 2rem;
  text-align: left;
}
