@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "destyle.css";

* {
  -webkit-font-smoothing: antialiased;
}

html {
  line-height: 1.4;
  letter-spacing: -0.02em;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  display: block;
  position: relative;
}

button {
  -webkit-appearance: button;
}

a:active,
a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

button,
select {
  text-transform: none;
}

button,
input {
  overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

.center-text-wrapper {
  display: flex;
  justify-content: center;
  height: 100%;
  text-align: center;
  padding: 1rem;
}

.center-text {
  align-self: center;
  font-size: 2.625rem;
  text-align: center;
}

.blue {
  color: #dedff1;
}

.background-blue {
  background-color: #dedff1;
}

.red {
  color: #ffede5;
}

.background-red {
  background-color: #ffede5;
}

.white {
  color: #ffffff;
}

.background-white {
  background-color: #ffffff;
}

.rozha {
  font-family: "Rozha One";
  font-weight: 400;
}

.p500 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  direction: ltr;
}

.p600 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  direction: ltr;
}

.p700 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  direction: ltr;
}

.p00 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  direction: ltr;
}

.section-text-shadow {
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.overlay-content {
  position: relative;
  z-index: 1;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 75rem;
}

.center-content {
  margin: 0;
  line-height: 1.2;
  text-align: center;
}

.section {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  min-height: 100vh;
  text-align: center;
  overflow: hidden;
  padding-top: 8rem;
}

.auth-link {
  font-size: 1.25rem;
}

.subscription-card {
  width: 28rem;
  height: 28rem;
  margin: 5rem;
  padding: 2rem;
  text-align: center;
}

.mat-card {
  border-radius: 12px !important;
}

.card-title {
  margin: 1rem;
  font-size: 1.5rem;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, #ffede5 50%);
}

.card-content {
  height: 15rem;
  padding: 2rem;
}

.card-info {
  margin-top: 1rem;
  font-size: 1.25rem;
  color: grey;
}

.card-conditions {
  font-size: 1rem;
  margin: 2rem;
}

.card-button {
  font-size: 1.25rem;
  min-height: 3rem;
}

.title-section {
  height: 100vh;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 0 5%;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.dialog-container .mat-dialog-container {
  margin: 2rem;
  padding: 0;
  border-radius: 12px;
}

.cdk-global-scrollblock {
  position: static;
  overflow: hidden !important;
}

.banner {
  width: 100vw;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  height: auto;
  letter-spacing: 0.08em;
  min-height: 40px;
  text-transform: uppercase;
}

.banner p {
  display: inline-block;
  line-height: 20px;
  padding: 10px 0px;
}

.pointer-event {
  cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: black !important;
  font-family: "Poppins", sans-serif;
}

.font-size-35 {
  font-family: nowie-web, Helvetica, Arial, sans-serif;
  font-size: 35px;
}

.font-size-11 {
  font-family: "Poppins", sans-serif;
  font-size: 11px;
}
