<section class="background-blue title-section">
  <div class="overlay-content wrapper">
    <h1 class="center-content">
      <h2 class="white p700 section-text-shadow">
        NOS OFFRES BOX
      </h2>
    </h1>
  </div>
</section>
<div class="background-red banner">
  <p class="p700">MADE IN FRANCE</p>
</div>
<section
  class="section background-blue"
  fxLayout.lt-sm="column"
  fxLayoutAlign="center center"
>
  <app-monthly-card></app-monthly-card>
  <app-yearly-card></app-yearly-card>
</section>
