<section class="background-glow title-section">
  <div class="overlay-content wrapper">
    <h1 class="center-content">
      <h2 class="white dm700 section-text-shadow">
        Nos offres box
      </h2>
    </h1>
  </div>
</section>
<section
  class="section background-red"
  fxLayout="row"
  fxLayoutAlign="center center"
>
  <mat-card class="subscription-card dm700">
    <mat-card-header fxLayoutAlign="center center">
      <mat-card-title class="card-title">Tendancement Bio</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      <p>
        <span class="price">29,99€</span
        ><span class="subscription-unit">/ mois</span>
      </p>
      <p class="card-info red">
        Vous recevez une box tous les mois
      </p>
      <p class="card-info red">Sans engagement</p>
      <div class="card-conditions">
        <p>Résiliable en un clic</p>
        <p>Livraison incluse</p>
      </div>
    </mat-card-content>
    <mat-card-actions class="card-actions">
      <button mat-raised-button class="card-button background-glow red dm700">
        Je m'inscris
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="subscription-card dm700">
    <mat-card-header fxLayoutAlign="center center">
      <mat-card-title class="card-title">Annuellement Bio</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      <p>
        <span class="price">24,99€</span>
        <span class="subscription-unit"> la 1ère box !</span>
      </p>

      <p class="card-info red">Puis 26,99€ / mois</p>
      <p class="card-info red">Engagement 12 mois</p>
      <div class="card-conditions">
        <p>Livraison incluse</p>
      </div>
    </mat-card-content>
    <mat-card-actions class="card-actions">
      <button mat-raised-button class="card-button dm700 background-glow red">
        Je m'inscris
      </button>
    </mat-card-actions>
  </mat-card>
</section>
