.title-section {
  height: 110vh;
  background-image: url('../../../assets/banner.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section {
  padding-top: 8rem;
}

h2 {
  font-size: 2.75rem;
}