<section class="section">
  <div id="hero-wrapper">
    <video
      preload="auto"
      webkit-playsinline
      playsinline
      x5-playsinline
      autoplay
      muted
      loop
      id="landing-hero"
      oncanplay="this.play()"
      onloadedmetadata="this.muted = true"
    >
      <source src="../../assets/biologique.mp4" type="video/mp4" />
    </video>
  </div>
  <div
    class="subtitle-wrapper dm700 glow section-text-shadow"
    fxLayout="column"
  >
    <h2 class="subtitle">
      La box bio et naturelle
    </h2>
    <h2>
      de nos artisans locaux
    </h2>
    <h3>Made in France</h3>
    <div fxLayoutAlign="center">
      <button mat-raised-button class="cta-button background-red glow dm700">
        J'embarque
      </button>
    </div>
  </div>
</section>
