#hero-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

#landing-hero {
  width: 100%;
  height: auto;
  left: 50%;
  top: 50%;
  max-height: 56.25vw;
  max-width: 177.778vh;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  position: absolute;
  transform: translate(-50%, -50%);
}

.subtitle-wrapper {
  z-index: 1;
  font-size: 3.75rem;
  display: flex;
  justify-content: center;
  padding: 2rem;
  width: 80%;
  margin: 0 auto;
  max-width: 75rem;
}

.subtitle {
  font-style: normal;
  text-align: center;
  margin: 1.25rem auto 0;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}

h3 {
  margin: 2rem;
  font-size: 2rem;
}

.cta-button {
  padding: 1rem;
  font-size: 1rem;
  line-height: 1.4;
  text-shadow: 1px 1px 2px rgba(197, 183, 183, 0.48);

  min-width: 22rem;
}
