<section class="section">
  <div id="hero-wrapper">
    <video
      webkit-playsinline
      playsinline
      x5-playsinline
      preload="auto"
      autoplay
      muted
      loop
      id="landing-hero"
      oncanplay="this.play()"
      onloadedmetadata="this.muted = true"
    >
      <source src="../../assets/biologique.mp4" type="video/mp4" />
    </video>
  </div>
  <div class="subtitle-wrapper p700 glow section-text-shadow" fxLayout="column">
    <h2>
      La box bio et naturelle
    </h2>
    <h2>
      des artisans locaux
    </h2>
    <h3></h3>
    <div fxLayoutAlign="center">
      <button
        mat-raised-button
        class="cta-button background-red glow p700"
        (click)="router.navigate(['bienvenue'])"
      >
        Bio'bienvenue
      </button>
    </div>
  </div>
</section>
