<section
  class="section background-blue"
  fxLayout="column"
  fxLayoutAlign="center"
>
  <h1 class="red center-text p700">
    Reset Password
  </h1>
  <div class="red" fxLayout="column" fxLayoutAlign="center center">
    <h2 class="p700">
      Please enter your email address to request a password reset.
    </h2>
    <form>
      <mat-form-field>
        <input
          matInput
          placeholder="Email"
          [(ngModel)]="email"
          type="text"
          name="email"
          autocomplete="email"
          required
        />
      </mat-form-field>
    </form>
  </div>
  <div fxLayoutAlign="center">
    <button
      mat-raised-button
      type="submit"
      value="Reset Password"
      class="p700 blue background-red"
      (click)="authService.forgotPassword(email)"
    >
      Reset Password
    </button>
  </div>
  <h3 class="p700">
    <a routerLink="/" class="red auth-link" fxLayoutAlign="center"> Home</a>
  </h3>
</section>
