.footer {
  line-height: 27px;
  font-weight: 300;
  overflow-x: hidden;
  position: relative;
  bottom: 0;
  padding: 90px 40px;
  margin: 0px auto;
  font-size: 12px;
}

.footer-column {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 20vw;
  padding: 0px 26px;
}

.footer-column-subscribe {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 25%;
  margin-left: 8.33333%;
  margin-right: 8.33333%;
  padding: 0px 10px;
}

.footer-accept {
  margin-right: 0.5rem;
}

.footer-submit {
  margin-top: 2rem;
}

.footer-form {
  margin-top: 1rem;
}

.round-block {
  padding: 0px 30px;
  border: 1px solid black;
  border-radius: 18px;
  margin: 35px 5px;
}

.center {
  text-align: center;
  justify-content: center;
}

.mobile-block-1 {
  border-bottom: 1px solid rgb(236, 238, 247);
  padding-bottom: 30px;
}

.mobile-block-2 {
  border-bottom: 1px solid rgb(236, 238, 247);
  padding: 40px 0;
}

.mobile-block-3 {
  padding: 40px 0 0 0;
}

.mobile-social-links{
  padding: 40px 0 0 0;
}

@media (min-width: 770px) {
  .mobile-footer {
    display: none !important;
  }
}

@media (max-width: 769px) {
  .mobile-footer {
    padding: 70px 40px 40px 40px;
  }

  .desktop-footer {
    display: none !important;
  }
}