<section
  class="section background-blue"
  fxLayout="column"
  fxLayoutAlign="center"
>
  <h1 class="center-text p500">
    Hi! Please enter your email address.
  </h1>
  <div fxLayout="column" fxLayoutAlign="center center">
    <form [formGroup]="emailForm">
      <mat-form-field>
        <input
          #input
          matInput
          formControlName="email"
          placeholder="Email"
          type="email"
          name="email"
          autocomplete="email"
          (keydown.enter)="checkEmailExists(input.value)"
          email
          required
        />
      </mat-form-field>
    </form>
  </div>
  <div fxLayoutAlign="center">
    <button
      mat-raised-button
      type="submit"
      value="Next"
      class="p700 background-red"
      (click)="checkEmailExists(input.value)"
      [disabled]="emailForm.invalid"
    >
      Next
    </button>
  </div>
  <h3 class="auth-link p500">
    <a routerLink="/password"  class="auth-link" fxLayoutAlign="center">
      Forgot password?</a
    >
  </h3>
</section>
