.title-section {
  height: 110vh;
  background-image: url('../../../assets/banner.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {
  font-size: 2.75rem;
}

.gift-title {
  font-size: 2.75rem;
}

.gift-body {
  padding-bottom: 35px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 120px;
  text-align: center;
}

.gift-content {
  font-size: 1.25rem;
  line-height: 25px;
  max-width: 50rem;
  margin: 20px auto 0px;
  padding: 0px 0px 20px;
}

.gift-content p {
  margin-top: 23px;
  padding-bottom: 1rem;
}

.gift-subscription-card {
  background-size: cover;
  background-repeat: no-repeat;
  height: 35rem;
  width: 35rem;
  border-radius: 12px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-position: top;
}

.three-month-card {
  background-image: url('../../../assets/gift-card-3.jpg');
}

.six-month-card {
  background-image: url('../../../assets/gift-card-6.jpeg');
}

.gift-card-group {
  width: 100%;
}

.gift-button {
  width: 17.5rem;
  margin: auto;
}

.gift-card-text {
  align-self: center;
  margin: auto;
  text-align: left;
}
