<section class="background-glow title-section">
  <div class="overlay-content wrapper">
    <h1 class="center-content">
      <h2 class="white p700 section-text-shadow">
        The gift that keeps on giving
      </h2>
    </h1>
  </div>
</section>
<section
  class="section gift-body background-glow p500"
  fxLayoutAlign="center center"
  fxLayout="column"
>
  <div class="gift-title rozha">
    <p>Gift <em>the</em> razor subscription</p>
  </div>
  <div class="gift-content">
    <div>
      <p>
        It’s easy to gift them what they (really) want. Pick a color and a
        subscription length and presto, their gift will arrive at their door
        like magic.
      </p>
      <p>
        Their first shipment will include a Starter Kit which includes a Billie
        Handle, mag(net)ic holder and two 5-blade razor cartridges.
      </p>
      <p>
        Ongoing we'll deliver four replacement cartridges every two months (just
        choose the length of the subscription).
      </p>
    </div>

    <div>
      <p class="gift-title rozha">What to expect</p>
    </div>
    <div>
      <p>
        Once you've purchased your gift, we'll send an email to the recipient
        letting them know that they've been gifted Billie. Lucky them!
      </p>
      <p>
        The Starter Kit will be shipped out immediately to the address provided.
        Sending multiple gifts? Make sure to place orders separately.
      </p>
    </div>
  </div>
  <button mat-raised-button class="p700 background-red glow">
    Je commence
  </button>
</section>
