<section class="background-glow title-section">
  <div class="overlay-content wrapper">
    <h1 class="center-content">
      <h2 class="white p700 section-text-shadow">
        THE GIFT THAT KEEPS ON GIVING
      </h2>
    </h1>
  </div>
</section>
<div class="background-red glow banner">
  <p class="p700">GIFT THE SUBSCRIPTION</p>
</div>
<section
  class="section gift-body background-glow p500"
  fxLayoutAlign="center center"
  fxLayout="column"
>
  <div class="gift-title rozha">
    <p>Gift <em>the</em> box subscription</p>
  </div>
  <div class="gift-content">
    <div>
      <p>
        It’s easy to gift them what they (really) want. Pick a subscription
        length and presto, their gift will arrive at their door like magic.
      </p>
      <p>
        Their first shipment will include a Starter Kit which includes a Billie
        Handle, mag(net)ic holder and two 5-blade razor cartridges.
      </p>
      <p>
        Ongoing we'll deliver four replacement cartridges every two months (just
        choose the length of the subscription).
      </p>
    </div>

    <div>
      <p class="gift-title rozha">What to expect</p>
    </div>
    <div>
      <p>
        Once you've purchased your gift, we'll send an email to the recipient
        letting them know that they've been gifted Billie. Lucky them!
      </p>
      <p>
        The Starter Kit will be shipped out immediately to the address provided.
        Sending multiple gifts? Make sure to place orders separately.
      </p>
    </div>
  </div>
  <div class="gift-title rozha">
    <p>How long should your gift last?</p>
  </div>
  <div
    fxLayout="row"
    class="gift-card-group"
    fxLayoutAlign="center center"
    fxLayoutGap="6rem"
  >
    <div fxLayout="column">
      <mat-card
        class="gift-subscription-card three-month-card"
        fxLayoutAlign="center center"
      >
        <h2 class="gift-card-text p700">
          <em>Let's gift</em>
          <div>3 months</div>
        </h2>
      </mat-card>
      <button
        mat-raised-button
        class="gift-button background-red white p600"
        fxLayoutAlign="center center"
        (click)="openDialog(3)"
      >
        $27 — Add to bag
      </button>
    </div>
    <div fxLayout="column">
      <mat-card
        class="gift-subscription-card six-month-card"
        fxLayoutAlign="center center"
      >
        <h2 class="gift-card-text p700">
          <em>Let's gift</em>
          <div>6 months</div>
        </h2>
      </mat-card>
      <button
        mat-raised-button
        class="gift-button background-red white p600"
        fxLayoutAlign="center center"
        (click)="openDialog(6)"
      >
        $54 — Add to bag
      </button>
    </div>
    <div fxLayout="column">
      <mat-card
        class="gift-subscription-card twelve-month-card"
        fxLayoutAlign="center center"
      >
        <h2 class="gift-card-text p700">
          <em>Let's gift</em>
          <div>12 months</div>
        </h2>
      </mat-card>
      <button
        mat-raised-button
        class="gift-button background-red white p600"
        fxLayoutAlign="center center"
        (click)="openDialog(12)"
      >
        $108 — Add to bag
      </button>
    </div>
  </div>
</section>
